* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

.chat {
  background: grey;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.side-panel {
  background: #ffffff;
  box-shadow: 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02),
    35.0877px 0px 70px rgba(86, 128, 248, 0.05),
    14.0351px 0px 25px rgba(86, 128, 248, 0.03);
  height: 100%;
  left: 0px;
  top: 0px;
  width: 300px;
}

.side-panel ul {
  margin: 12px 0;
}

.side-panel ul li {
  list-style: none;
  text-align: right;
  padding: 12px 36px 12px 12px;
}

.panel-link {
  text-decoration: none;
  font-size: 14px;
}

.main-panel {
  background: linear-gradient(180deg, #c5c5d4 0%, #b3b3c4 100%);
  padding: 2%;
  width: 100%;
}

.content {
  background: #ffffff;
  height: 100%;
}

.side-panel #title {
  margin: 40px 0;
  font-size: 18px;
  text-align: center;
}

.header {
  align-items: center;
  background: #ddfff7;
  display: flex;
  height: 80px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  font-family: Sen;
  width: 100%;
}

.left {
  float: left;
  width: 10%;
  text-align: left;
}