* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  text-emphasis: none;
  color: inherit;
  padding: 30px;
  font-size: 20px;
}

body {
  background-color: #ddfff7;
  font-family: Sen;
}

.button-header {
  font-family: Sen;
  font-size: 15px;
  background: #FFA69E;
  padding: 8px;
  border: none;
  border-radius: 7px;
  margin: 10px;
}

.button-gs {
  font-family: Sen;
  font-size: 25px;
  background: #FFA69E;
  padding: 10px 25px 10px 25px;
  border: none;
  border-radius: 7px;
  margin: 10px;
}

.header {
  align-items: center;
  background: #93E1D8;
  display: flex;
  height: 80px;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  font-family: Sen;
  width: 100%;
}

.left {
  float: left;
  width: 10%;
  text-align: left;
}

.right {
  align-items: center;
  float: right;
  text-align: right;
}

.badges {
  text-align: center;
  padding: 50px;
}

.badges img {
  margin: 30px;
}

.badges-text {
  text-align: center;
  font-size: 30px;
  display: block;
}

.info-header {
  margin-top: 150px;
  margin-left: 30px;
  font-family: Sen;
  font-size: 35px;
}

.creation-forms {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.form-title {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 2%;
}

.form-label {
  font-size: 20px;
  margin: 0px 15px 0px 0px;
}

.form-text-field {
  margin-bottom: 15px;
}

.form-input {
  /* padding-bottom: 2%; */
  width: 100%;
  border-style:solid;
  border-color: #bdbdbd;
  border-radius: 5px;
  border-width:1px
}

.form-date-time {
  font-family: Sen;
  margin-bottom: 10px;
}

.create-event {
  text-align: left;
  width: 100%;
  padding: 5%;
  background-color: #e7ddd2;
  border-radius: 10px;
}

.submit-btn {
  text-align: center;
  padding: 10px 15px;
  background: #FFA69E;
  margin: 10px 0px 0px 0px;
}

#go-to-link {
  font-size: 14px;
  color:#8a8a8a;
}

#go-to-link:hover {
  color:#696969;
}